page-login {
    .login-content {
        align-items: center;
        margin-top: 65%;
    }
    .login-grid {
        align-items: center;
    }
    label {
        font-family: serif;
        font-size: 18px;
        font-weight: normal;
    }
    .login-label {
        margin-left: 40%;
        color: gray;
    }
    .seperator {
        margin-top: 65%;
    }
}