page-home {
    .toolbar-background {
        background-color: #f53d3d;
    }
    .showErrorMsg {
        width: 100%;
        padding-top: 64%;
        padding-left: 6%;
        padding-right: 6%;
        text-align: center;
    }
    .article-date {
        font-weight: 400;
    }
    .article-title {
        font-weight: 600;
        font-size: 16px;
    }
    .menu-icon {
        color: white !important;
    }
}