page-home {
    .toolbar-background {
        background-color: #E64A19
    }
    .showErrorMsg {
        width: 100%;
        padding-top: 64%;
        padding-left: 6%;
        padding-right: 6%;
        text-align: center;
    }
    .article-date {
        font-weight: bold;
    }
    .article-title {
        font-weight: bold;
        font-size: 16px;
    }
}