page-detail {
    .toolbar-background {
        background-color: #f53d3d;
    }
    .article-content {
        padding: 10px;
    }
    .article-date {
        font-weight: 400;
    }
    .article-author {
        font-weight: 400;
        font-size: 14px;
    }
    .article-title {
        font-weight: 400;
        font-size: 16px;
    }
    .article-description {
        font-weight: 600;
        font-size: 16px;
    }
}