page-detail {
    .toolbar-background {
        background-color: #E64A19;
    }
    .article-content {
        padding: 10px;
    }
    .article-date {
        font-weight: bold;
    }
    .article-author {
        font-weight: bold;
        font-size: 14px;
    }
    .article-title {
        font-weight: bold;
        font-size: 16px;
    }
    .article-description {
        font-weight: bold;
        font-size: 16px;
    }
}